<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/css/styles.css" />
        <script src="../static/js/store.js"></script>
        <script src="../static/js/redux.js"></script>
        <script>


        if (document.readyState == 'loading') {
            document.addEventListener('DOMContentLoaded', ready)
        } else {
            ready()
        }

        function ready() {

            var addToCartButtons = document.getElementsByClassName('shop-item-button')
            for (var i = 0; i < addToCartButtons.length; i++) {
                var button = addToCartButtons[i]
                button.addEventListener('click', addToCartClicked)
            }

            // document.getElementsByClassName('btn-purchase')[0].addEventListener('click', purchaseClicked)
        }

        function addToCartClicked(event) {
            var button = event.target
            var shopItem = button.parentElement.parentElement
            var title = shopItem.getElementsByClassName('shop-item-title')[0].innerText
            var imageSrc = shopItem.getElementsByClassName('shop-item-image')[0].src
            addItemToCart(title, imageSrc)
        }

        function addItemToCart(title, imageSrc) {
            var cartRow = document.createElement('div')
            cartRow.classList.add('cart-row')
            var cartItems = document.getElementsByClassName('cart-items')[0]
            var cartItemNames = cartItems.getElementsByClassName('cart-item-title')
            console.log(cartItemNames)
            for (var i = 0; i < cartItemNames.length; i++) {
                if (cartItemNames[i].innerText == title) {
                    alert('This item is already added to the cart')
                    return
                }
            }
            var cartRowContents = `
                <div class="cart-item cart-column">
                    <img class="cart-item-image" src="${imageSrc}" width="70" height="100">
                    <span class="cart-item-title"><pre>     ${title}</pre></span>
                </div><div>
                    <button class="btn btn-danger" type="button">REMOVE</button>
                    </div>
                `
            cartRow.innerHTML = cartRowContents
            cartItems.append(cartRow)
            cartRow.getElementsByClassName('btn-danger')[0].addEventListener('click', removeCartItem)
        }

        const initialState = {
            favoriteThings: ''
        }

        function reducer(state = initialState, action) {
            switch(action.type) {
                case "ADD_FAVORITE_THING":
                    return {
                        ...state,
                        favoriteThings: state.favoriteThings+action.payload
                    }
                case "REMOVE_FAVORITE_THING": {
                    const arrCopy = [...state.favoriteThings]
                    var updated='';
                    for (var i = 0; i < arrCopy.length-1; i++) {  updated+=arrCopy[i] }
                    return {
                        ...state,
                        favoriteThings: updated
                    }
                }
                default:
                    return state
            }
        }


        const store = Redux.createStore(reducer)

        function addFavoriteThing(thing) {
            return {
                type: "ADD_FAVORITE_THING",
                payload: thing
            }
        }

        function removeFavoriteThing() {
            return {
                type: "REMOVE_FAVORITE_THING"
            }
        }
        store.subscribe(() => {
            console.log(store.getState())
        })
        function i1(){
            store.dispatch(addFavoriteThing("1"));
            document.getElementById('haha').value=store.getState().favoriteThings;
            console.log(store.getState().favoriteThings)
        }
        function i2(){
            store.dispatch(addFavoriteThing("5"));
            document.getElementById('haha').value=store.getState().favoriteThings;
        }
        function i3(){
            store.dispatch(addFavoriteThing("3"));
            document.getElementById('haha').value=store.getState().favoriteThings;
        }
        function i4(){
            store.dispatch(addFavoriteThing("4"));
            document.getElementById('haha').value=store.getState().favoriteThings;
        }
        function i5(){
            store.dispatch(addFavoriteThing("2"));
            document.getElementById('haha').value=store.getState().favoriteThings;
        }
        function removeCartItem(event) {
            var buttonClicked = event.target;
            buttonClicked.parentElement.parentElement.remove();
            store.dispatch(removeFavoriteThing())
            document.getElementById('haha').value=store.getState().favoriteThings;
        }
        </script>

    </head>
    <body background="https://starwarsblog.starwars.com/wp-content/uploads/2020/04/star-wars-backgrounds-25.jpg">
		<div style="text-align: center;"><h1 style="color: gold; font-family: Great Vibes, cursive; font-size: 50px; line-height: 160px; font-weight: normal; margin-bottom: 0px; margin-top: 40px; text-align: center; text-shadow: 0 1px 1px #fff;"><u>SWAPI CRUD APP</u></h1></div>
        <br><br>
            <div class="shop-items">
                <div class="shop-item">
                    <span class="shop-item-title">Character 1</span>
                    <img class="shop-item-image" src="https://upload.wikimedia.org/wikipedia/en/9/9b/Luke_Skywalker.png">					
                    <div class="shop-item-details">
                        <button class="btn btn-primary shop-item-button" type="button" onClick="i1()">ADD TO CART</button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="shop-item-title">Character 2</span>
                    <img class="shop-item-image" src="https://upload.wikimedia.org/wikipedia/en/1/1b/Princess_Leia%27s_characteristic_hairstyle.jpg">
                    <div class="shop-item-details">
                        <button class="btn btn-primary shop-item-button"type="button" onClick="i2()">ADD TO CART</button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="shop-item-title">Character 3</span>
                    <img class="shop-item-image" src="https://upload.wikimedia.org/wikipedia/en/3/39/R2-D2_Droid.png">
					<div class="shop-item-details">
                        <button class="btn btn-primary shop-item-button" type="button" onClick="i3()">ADD TO CART</button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="shop-item-title">Character 4</span>
                    <img class="shop-item-image" src="https://upload.wikimedia.org/wikipedia/en/7/76/Darth_Vader.jpg">
                    <div class="shop-item-details">
                        <button class="btn btn-primary shop-item-button" type="button" onClick="i4()">ADD TO CART</button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="shop-item-title">Character 5</span>
                    <img class="shop-item-image" src="https://upload.wikimedia.org/wikipedia/en/thumb/5/5c/C-3PO_droid.png/220px-C-3PO_droid.png">
                    <div class="shop-item-details">
                        <button class="btn btn-primary shop-item-button" type="button" onClick="i5()">ADD TO CART</button>
                    </div>
                </div>
            </div>
        </section>
        <section class="container content-section">
            <h2 class="section-header">CART</h2>
            <div class="cart-row">
                <span class="cart-item cart-header cart-column">ITEM</span>
            </div>
            <div class="cart-items">
            </div>
			<form action="{{ url_for("index")}}" method="post"> 
			<input type="hidden" id="haha" name="haha" placeholder="selected"> 
                <button class="btn btn-primary btn-purchase" type="submit" name='fetch'>Fetch</button> </form>
        </section>
    </body>
</html>